stack(), unstack()

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
mul_index=pd.MultiIndex.from_tuples([('cust_1','2015'),('cust_1','2016'),('cust_2','2015'),('cust_2','2016')])
data = DataFrame(data=np.arange(16).reshape(4,4),
                index=mul_index,
                columns=['prd_1','prd_2','prd_3','prd_4'],
                dtype='int')

In [3]:
data

             prd_1  prd_2  prd_3  prd_4
cust_1 2015      0      1      2      3
       2016      4      5      6      7
cust_2 2015      8      9     10     11
       2016     12     13     14     15

In [4]:
#stack
data_stacked=data.stack()

In [5]:
#DataFrame.stack() => returns Series
data_stacked

cust_1  2015  prd_1     0
              prd_2     1
              prd_3     2
              prd_4     3
        2016  prd_1     4
              prd_2     5
              prd_3     6
              prd_4     7
cust_2  2015  prd_1     8
              prd_2     9
              prd_3    10
              prd_4    11
        2016  prd_1    12
              prd_2    13
              prd_3    14
              prd_4    15
dtype: int32

In [6]:
#MultiInex(levels) after stack()
data_stacked.index

MultiIndex([('cust_1', '2015', 'prd_1'),
            ('cust_1', '2015', 'prd_2'),
            ('cust_1', '2015', 'prd_3'),
            ('cust_1', '2015', 'prd_4'),
            ('cust_1', '2016', 'prd_1'),
            ('cust_1', '2016', 'prd_2'),
            ('cust_1', '2016', 'prd_3'),
            ('cust_1', '2016', 'prd_4'),
            ('cust_2', '2015', 'prd_1'),
            ('cust_2', '2015', 'prd_2'),
            ('cust_2', '2015', 'prd_3'),
            ('cust_2', '2015', 'prd_4'),
            ('cust_2', '2016', 'prd_1'),
            ('cust_2', '2016', 'prd_2'),
            ('cust_2', '2016', 'prd_3'),
            ('cust_2', '2016', 'prd_4')],
           )

In [9]:
#Indexing
data_stacked['cust_2']['2015'][['prd_1','prd_2']]

prd_1    8
prd_2    9
dtype: int32

In [10]:
#putting NaN to DataFrame
data.ix['cust_2','prd_4'] = np.nan

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

In [11]:
data

             prd_1  prd_2  prd_3  prd_4
cust_1 2015      0      1      2    3.0
       2016      4      5      6    7.0
cust_2 2015      8      9     10    NaN
       2016     12     13     14    NaN

In [12]:
#stack with 'dropna=False' argument
data.stack(dropna=False)

cust_1  2015  prd_1     0.0
              prd_2     1.0
              prd_3     2.0
              prd_4     3.0
        2016  prd_1     4.0
              prd_2     5.0
              prd_3     6.0
              prd_4     7.0
cust_2  2015  prd_1     8.0
              prd_2     9.0
              prd_3    10.0
              prd_4     NaN
        2016  prd_1    12.0
              prd_2    13.0
              prd_3    14.0
              prd_4     NaN
dtype: float64

In [13]:
#stack with 'dropna=True' argument
data.stack(dropna=True) #by default

cust_1  2015  prd_1     0.0
              prd_2     1.0
              prd_3     2.0
              prd_4     3.0
        2016  prd_1     4.0
              prd_2     5.0
              prd_3     6.0
              prd_4     7.0
cust_2  2015  prd_1     8.0
              prd_2     9.0
              prd_3    10.0
        2016  prd_1    12.0
              prd_2    13.0
              prd_3    14.0
dtype: float64

In [14]:
data_stacked

cust_1  2015  prd_1     0
              prd_2     1
              prd_3     2
              prd_4     3
        2016  prd_1     4
              prd_2     5
              prd_3     6
              prd_4     7
cust_2  2015  prd_1     8
              prd_2     9
              prd_3    10
              prd_4    11
        2016  prd_1    12
              prd_2    13
              prd_3    14
              prd_4    15
dtype: int32

In [15]:
data_stacked.unstack(level=-1) #default: df.unstack(level=-1)

             prd_1  prd_2  prd_3  prd_4
cust_1 2015      0      1      2      3
       2016      4      5      6      7
cust_2 2015      8      9     10     11
       2016     12     13     14     15

In [16]:
data_stacked.unstack(level=0)

            cust_1  cust_2
2015 prd_1       0       8
     prd_2       1       9
     prd_3       2      10
     prd_4       3      11
2016 prd_1       4      12
     prd_2       5      13
     prd_3       6      14
     prd_4       7      15

In [17]:
data_stacked.unstack(level=1)

              2015  2016
cust_1 prd_1     0     4
       prd_2     1     5
       prd_3     2     6
       prd_4     3     7
cust_2 prd_1     8    12
       prd_2     9    13
       prd_3    10    14
       prd_4    11    15

In [19]:
#converting Series to DataFrame
data_stacked_unstacked=data_stacked.unstack(level=-1)
data_stacked_unstacked

             prd_1  prd_2  prd_3  prd_4
cust_1 2015      0      1      2      3
       2016      4      5      6      7
cust_2 2015      8      9     10     11
       2016     12     13     14     15

In [23]:
#converting index to columns
data_stacked_unstacked_df = data_stacked_unstacked.reset_index() #계층적 인덱스 사용하고 싶지 않다면 인덱스를 칼럼으로 변환
data_stacked_unstacked_df

  level_0 level_1  prd_1  prd_2  prd_3  prd_4
0  cust_1    2015      0      1      2      3
1  cust_1    2016      4      5      6      7
2  cust_2    2015      8      9     10     11
3  cust_2    2016     12     13     14     15

In [25]:
#changing columns' name
data_stacked_unstacked_df.rename(columns={'level_0':'custID',
                                         'level_1':'year'},inplace=True)

In [26]:
data_stacked_unstacked_df

   custID  year  prd_1  prd_2  prd_3  prd_4
0  cust_1  2015      0      1      2      3
1  cust_1  2016      4      5      6      7
2  cust_2  2015      8      9     10     11
3  cust_2  2016     12     13     14     15