#### 시계열 자료 다루기

In [1]:
import numpy as np
import pandas as pd

In [2]:
date_str = ["2018, 1, 1","2018, 1, 4","2018, 1, 5","2018, 1, 6"]
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

In [3]:
np.random.seed(0)
s = pd.Series(np.random.rand(4), index=idx)
s

2018-01-01    0.548814
2018-01-04    0.715189
2018-01-05    0.602763
2018-01-06    0.544883
dtype: float64

In [4]:
pd.date_range("2018-4-1","2018-4-30")

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

In [5]:
pd.date_range(start="2018-4-1",periods=30)

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range("2018-4-1","2018-4-30",freq="B")

DatetimeIndex(['2018-04-02', '2018-04-03', '2018-04-04', '2018-04-05',
               '2018-04-06', '2018-04-09', '2018-04-10', '2018-04-11',
               '2018-04-12', '2018-04-13', '2018-04-16', '2018-04-17',
               '2018-04-18', '2018-04-19', '2018-04-20', '2018-04-23',
               '2018-04-24', '2018-04-25', '2018-04-26', '2018-04-27',
               '2018-04-30'],
              dtype='datetime64[ns]', freq='B')

In [7]:
pd.date_range("2018-1-1", "2018-12-31", freq="W")

DatetimeIndex(['2018-01-07', '2018-01-14', '2018-01-21', '2018-01-28',
               '2018-02-04', '2018-02-11', '2018-02-18', '2018-02-25',
               '2018-03-04', '2018-03-11', '2018-03-18', '2018-03-25',
               '2018-04-01', '2018-04-08', '2018-04-15', '2018-04-22',
               '2018-04-29', '2018-05-06', '2018-05-13', '2018-05-20',
               '2018-05-27', '2018-06-03', '2018-06-10', '2018-06-17',
               '2018-06-24', '2018-07-01', '2018-07-08', '2018-07-15',
               '2018-07-22', '2018-07-29', '2018-08-05', '2018-08-12',
               '2018-08-19', '2018-08-26', '2018-09-02', '2018-09-09',
               '2018-09-16', '2018-09-23', '2018-09-30', '2018-10-07',
               '2018-10-14', '2018-10-21', '2018-10-28', '2018-11-04',
               '2018-11-11', '2018-11-18', '2018-11-25', '2018-12-02',
               '2018-12-09', '2018-12-16', '2018-12-23', '2018-12-30'],
              dtype='datetime64[ns]', freq='W-SUN')

In [8]:
pd.date_range("2018-1-1", "2018-12-31", freq="W-MON")

DatetimeIndex(['2018-01-01', '2018-01-08', '2018-01-15', '2018-01-22',
               '2018-01-29', '2018-02-05', '2018-02-12', '2018-02-19',
               '2018-02-26', '2018-03-05', '2018-03-12', '2018-03-19',
               '2018-03-26', '2018-04-02', '2018-04-09', '2018-04-16',
               '2018-04-23', '2018-04-30', '2018-05-07', '2018-05-14',
               '2018-05-21', '2018-05-28', '2018-06-04', '2018-06-11',
               '2018-06-18', '2018-06-25', '2018-07-02', '2018-07-09',
               '2018-07-16', '2018-07-23', '2018-07-30', '2018-08-06',
               '2018-08-13', '2018-08-20', '2018-08-27', '2018-09-03',
               '2018-09-10', '2018-09-17', '2018-09-24', '2018-10-01',
               '2018-10-08', '2018-10-15', '2018-10-22', '2018-10-29',
               '2018-11-05', '2018-11-12', '2018-11-19', '2018-11-26',
               '2018-12-03', '2018-12-10', '2018-12-17', '2018-12-24',
               '2018-12-31'],
              dtype='datetime64[ns]', freq='W-MON')

In [9]:
pd.date_range("2018-4-1", "2018-12-31", freq="MS")

DatetimeIndex(['2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01',
               '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01',
               '2018-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [10]:
pd.date_range("2018-4-1", "2018-12-31", freq="M")

DatetimeIndex(['2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31',
               '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30',
               '2018-12-31'],
              dtype='datetime64[ns]', freq='M')

In [11]:
pd.date_range("2018-4-1", "2018-12-31", freq="BMS")

DatetimeIndex(['2018-04-02', '2018-05-01', '2018-06-01', '2018-07-02',
               '2018-08-01', '2018-09-03', '2018-10-01', '2018-11-01',
               '2018-12-03'],
              dtype='datetime64[ns]', freq='BMS')

In [12]:
pd.date_range("2018-4-1", "2018-12-31", freq="BM")

DatetimeIndex(['2018-04-30', '2018-05-31', '2018-06-29', '2018-07-31',
               '2018-08-31', '2018-09-28', '2018-10-31', '2018-11-30',
               '2018-12-31'],
              dtype='datetime64[ns]', freq='BM')

In [13]:
pd.date_range("2018-1-1", "2018-12-31", freq="WOM-2SUN")

DatetimeIndex(['2018-01-14', '2018-02-11', '2018-03-11', '2018-04-08',
               '2018-05-13', '2018-06-10', '2018-07-08', '2018-08-12',
               '2018-09-09', '2018-10-14', '2018-11-11', '2018-12-09'],
              dtype='datetime64[ns]', freq='WOM-2SUN')

In [14]:
pd.date_range("2018-1-1", "2018-12-31", freq="Q-JAN")

DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31'], dtype='datetime64[ns]', freq='Q-JAN')

In [15]:
pd.date_range("2018-1-1", "2018-12-31", freq="Q-MAR")

DatetimeIndex(['2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31'], dtype='datetime64[ns]', freq='Q-MAR')

#### shift 연산

In [16]:
np.random.seed(0)
ts = pd.Series(np.random.randn(4), index=pd.date_range("2018-1-1", periods=4,freq="M"))
ts

2018-01-31    1.764052
2018-02-28    0.400157
2018-03-31    0.978738
2018-04-30    2.240893
Freq: M, dtype: float64

In [17]:
ts.shift(1)

2018-01-31         NaN
2018-02-28    1.764052
2018-03-31    0.400157
2018-04-30    0.978738
Freq: M, dtype: float64

In [18]:
ts.shift(-1)

2018-01-31    0.400157
2018-02-28    0.978738
2018-03-31    2.240893
2018-04-30         NaN
Freq: M, dtype: float64

In [19]:
ts.shift(1, freq="M")

2018-02-28    1.764052
2018-03-31    0.400157
2018-04-30    0.978738
2018-05-31    2.240893
Freq: M, dtype: float64

In [20]:
ts.shift(1, freq="W")

2018-02-04    1.764052
2018-03-04    0.400157
2018-04-01    0.978738
2018-05-06    2.240893
Freq: WOM-1SUN, dtype: float64

#### resample 연산

In [21]:
ts = pd.Series(np.random.randn(100), index=pd.date_range("2018-03-22",periods=100,freq="D"))
ts.tail(20)

2018-06-10    1.488252
2018-06-11    1.895889
2018-06-12    1.178780
2018-06-13   -0.179925
2018-06-14   -1.070753
2018-06-15    1.054452
2018-06-16   -0.403177
2018-06-17    1.222445
2018-06-18    0.208275
2018-06-19    0.976639
2018-06-20    0.356366
2018-06-21    0.706573
2018-06-22    0.010500
2018-06-23    1.785870
2018-06-24    0.126912
2018-06-25    0.401989
2018-06-26    1.883151
2018-06-27   -1.347759
2018-06-28   -1.270485
2018-06-29    0.969397
Freq: D, dtype: float64

#### 시간 구간이 작아짐 -->  데이터양이 증가함  --> 업 샘플링
#### 시간 구간이 커짐 -->  데이터양이 감소함  --> 다운 샘플링

In [22]:
ts.resample("W").last()

2018-03-25   -0.151357
2018-04-01    0.443863
2018-04-08    0.653619
2018-04-15    1.532779
2018-04-22    0.156349
2018-04-29   -1.706270
2018-05-06   -0.212740
2018-05-13    0.066517
2018-05-20   -1.726283
2018-05-27    0.729091
2018-06-03   -0.578850
2018-06-10    1.488252
2018-06-17    1.222445
2018-06-24    0.126912
2018-07-01    0.969397
Freq: W-SUN, dtype: float64

In [23]:
ts.resample('M').first()

2018-03-31    1.867558
2018-04-30    0.443863
2018-05-31   -0.509652
2018-06-30   -0.684810
Freq: M, dtype: float64

In [24]:
ts = pd.Series(np.random.randn(60),pd.date_range("2018-01-01",periods=60,freq="T"))
ts.head(60)

2018-01-01 00:00:00   -1.173123
2018-01-01 00:01:00    1.943621
2018-01-01 00:02:00   -0.413619
2018-01-01 00:03:00   -0.747455
2018-01-01 00:04:00    1.922942
2018-01-01 00:05:00    1.480515
2018-01-01 00:06:00    1.867559
2018-01-01 00:07:00    0.906045
2018-01-01 00:08:00   -0.861226
2018-01-01 00:09:00    1.910065
2018-01-01 00:10:00   -0.268003
2018-01-01 00:11:00    0.802456
2018-01-01 00:12:00    0.947252
2018-01-01 00:13:00   -0.155010
2018-01-01 00:14:00    0.614079
2018-01-01 00:15:00    0.922207
2018-01-01 00:16:00    0.376426
2018-01-01 00:17:00   -1.099401
2018-01-01 00:18:00    0.298238
2018-01-01 00:19:00    1.326386
2018-01-01 00:20:00   -0.694568
2018-01-01 00:21:00   -0.149635
2018-01-01 00:22:00   -0.435154
2018-01-01 00:23:00    1.849264
2018-01-01 00:24:00    0.672295
2018-01-01 00:25:00    0.407462
2018-01-01 00:26:00   -0.769916
2018-01-01 00:27:00    0.539249
2018-01-01 00:28:00   -0.674333
2018-01-01 00:29:00    0.031831
2018-01-01 00:30:00   -0.635846
2018-01-01 00:31:00    0.676433
2018-01-01 00:32:00    0.576591
2018-01-01 00:33:00   -0.208299
2018-01-01 00:34:00    0.396007
2018-01-01 00:35:00   -1.093062
2018-01-01 00:36:00   -1.491258
2018-01-01 00:37:00    0.439392
2018-01-01 00:38:00    0.166673
2018-01-01 00:39:00    0.635031
2018-01-01 00:40:00    2.383145
2018-01-01 00:41:00    0.944479
2018-01-01 00:42:00   -0.912822
2018-01-01 00:43:00    1.117016
2018-01-01 00:44:00   -1.315907
2018-01-01 00:45:00   -0.461585
2018-01-01 00:46:00   -0.068242
2018-01-01 00:47:00    1.713343
2018-01-01 00:48:00   -0.744755
2018-01-01 00:49:00   -0.826439
2018-01-01 00:50:00   -0.098453
2018-01-01 00:51:00   -0.663478
2018-01-01 00:52:00    1.126636
2018-01-01 00:53:00   -1.079932
2018-01-01 00:54:00   -1.147469
2018-01-01 00:55:00   -0.437820
2018-01-01 00:56:00   -0.498032
2018-01-01 00:57:00    1.929532
2018-01-01 00:58:00    0.949421
2018-01-01 00:59:00    0.087551
Freq: T, dtype: float64

In [25]:
ts.resample('10T').last()

2018-01-01 00:00:00    1.910065
2018-01-01 00:10:00    1.326386
2018-01-01 00:20:00    0.031831
2018-01-01 00:30:00    0.635031
2018-01-01 00:40:00   -0.826439
2018-01-01 00:50:00    0.087551
Freq: 10T, dtype: float64

In [26]:
ts.resample('10T',closed="right").last()

2017-12-31 23:50:00   -1.173123
2018-01-01 00:00:00   -0.268003
2018-01-01 00:10:00   -0.694568
2018-01-01 00:20:00   -0.635846
2018-01-01 00:30:00    2.383145
2018-01-01 00:40:00   -0.098453
2018-01-01 00:50:00    0.087551
Freq: 10T, dtype: float64

In [27]:
ts.resample("5T").ohlc()

                         open      high       low     close
2018-01-01 00:00:00 -1.173123  1.943621 -1.173123  1.922942
2018-01-01 00:05:00  1.480515  1.910065 -0.861226  1.910065
2018-01-01 00:10:00 -0.268003  0.947252 -0.268003  0.614079
2018-01-01 00:15:00  0.922207  1.326386 -1.099401  1.326386
2018-01-01 00:20:00 -0.694568  1.849264 -0.694568  0.672295
2018-01-01 00:25:00  0.407462  0.539249 -0.769916  0.031831
2018-01-01 00:30:00 -0.635846  0.676433 -0.635846  0.396007
2018-01-01 00:35:00 -1.093062  0.635031 -1.491258  0.635031
2018-01-01 00:40:00  2.383145  2.383145 -1.315907 -1.315907
2018-01-01 00:45:00 -0.461585  1.713343 -0.826439 -0.826439
2018-01-01 00:50:00 -0.098453  1.126636 -1.147469 -1.147469
2018-01-01 00:55:00 -0.437820  1.929532 -0.498032  0.087551

In [28]:
ts.resample('30s').ffill().head(20)

2018-01-01 00:00:00   -1.173123
2018-01-01 00:00:30   -1.173123
2018-01-01 00:01:00    1.943621
2018-01-01 00:01:30    1.943621
2018-01-01 00:02:00   -0.413619
2018-01-01 00:02:30   -0.413619
2018-01-01 00:03:00   -0.747455
2018-01-01 00:03:30   -0.747455
2018-01-01 00:04:00    1.922942
2018-01-01 00:04:30    1.922942
2018-01-01 00:05:00    1.480515
2018-01-01 00:05:30    1.480515
2018-01-01 00:06:00    1.867559
2018-01-01 00:06:30    1.867559
2018-01-01 00:07:00    0.906045
2018-01-01 00:07:30    0.906045
2018-01-01 00:08:00   -0.861226
2018-01-01 00:08:30   -0.861226
2018-01-01 00:09:00    1.910065
2018-01-01 00:09:30    1.910065
Freq: 30S, dtype: float64

In [29]:
ts.resample('30s').bfill().head(20)

2018-01-01 00:00:00   -1.173123
2018-01-01 00:00:30    1.943621
2018-01-01 00:01:00    1.943621
2018-01-01 00:01:30   -0.413619
2018-01-01 00:02:00   -0.413619
2018-01-01 00:02:30   -0.747455
2018-01-01 00:03:00   -0.747455
2018-01-01 00:03:30    1.922942
2018-01-01 00:04:00    1.922942
2018-01-01 00:04:30    1.480515
2018-01-01 00:05:00    1.480515
2018-01-01 00:05:30    1.867559
2018-01-01 00:06:00    1.867559
2018-01-01 00:06:30    0.906045
2018-01-01 00:07:00    0.906045
2018-01-01 00:07:30   -0.861226
2018-01-01 00:08:00   -0.861226
2018-01-01 00:08:30    1.910065
2018-01-01 00:09:00    1.910065
2018-01-01 00:09:30   -0.268003
Freq: 30S, dtype: float64