#### Dask 사용법 기초
#### 가상의 데이터프레임 / 병렬처리용 작업 스케쥴러

In [1]:
import numpy as np
import pandas as pd

In [2]:
%%writefile data1.csv
time,temperature,humidity
0,22,58
1,21,57
2,25,57
3,26,55
4,22,53
5,23,59

Overwriting data1.csv

In [3]:
import dask.dataframe as dd

In [4]:
df = dd.read_csv("data1.csv")
df

Dask DataFrame Structure:
                time temperature humidity
npartitions=1
               int64       int64    int64
                 ...         ...      ...
Dask Name: from-delayed, 3 tasks

In [5]:
df.head()

   time  temperature  humidity
0     0           22        58
1     1           21        57
2     2           25        57
3     3           26        55
4     4           22        53

In [6]:
df.temperature.mean()

dd.Scalar<series-..., dtype=float64>

In [7]:
df.temperature.mean().compute()

23.166666666666668

In [8]:
(df.temperature * 9 / 5 + 32).compute()

0    71.6
1    69.8
2    77.0
3    78.8
4    71.6
5    73.4
Name: temperature, dtype: float64

In [9]:
df = df.assign(temperature=df.temperature * 9 / 5 + 32)
df.head()

   time  temperature  humidity
0     0         71.6        58
1     1         69.8        57
2     2         77.0        57
3     3         78.8        55
4     4         71.6        53

In [10]:
df = df.assign(title=df.temperature.astype(str) + " degree")
df.head()

   time  temperature  humidity        title
0     0         71.6        58  71.6 degree
1     1         69.8        57  69.8 degree
2     2         77.0        57  77.0 degree
3     3         78.8        55  78.8 degree
4     4         71.6        53  71.6 degree

#### 복수 데이터에 대한 가상 데이터 프레임

In [11]:
%%writefile data2.csv
time,temperature,humidity
0,22,58
1,21,57
2,25,57
3,26,55
4,22,53
5,23,59

Overwriting data2.csv

In [12]:
%%writefile data3.csv
time,temperature,humidity
0,22,58
1,21,57
2,25,57
3,26,55
4,22,53
5,23,59

Overwriting data3.csv

In [13]:
df = dd.read_csv('data*.csv') #와일드 카드(*) 복수 파일
df.count().compute()

time           18
temperature    18
humidity       18
dtype: int64

In [14]:
df.temperature.describe().compute()

count    18.000000
mean     23.166667
std       1.823055
min      21.000000
25%      22.000000
50%      22.500000
75%      24.500000
max      26.000000
Name: temperature, dtype: float64

#### 대량 데이터의 병렬 처리

In [15]:
!wget -O crime.csv https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=DOWNLOAD

'wget'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.