#### 파이썬의 문자열 형식화

#### 연습 문제 1

#### 1. name과 age라는 변수에 각각 이름과 나이를 넣고 다음과 같이 출력하는 코드를 만들어라
#### Tom is 13 years old

#### 2. a, b라는 변수에 10과 3이라는 값을 대입하라. 이 변수 a, b와 문자열 형식화를 사용하여 다음과 같은 문자열을 출력하는 코드를 만들어라.
#### 10 / 3 = 3.333

In [1]:
name = "Tom"
age =13 

print("%s is %d years old"%(name, age))

Tom is 13 years old

In [6]:
a = 10
b =  3

print("%d / %d = %0.3f"%(a, b, a/b))

10 / 3 = 3.333

#### 고급 형식지정 문자열

In [7]:
"[%20s]" % "*" #[와 ] 사이에 20칸의 공백이 있다

'[                   *]'

In [8]:
"[%-20s]" % "A" #[와 ] 사이에 20칸의 공백이 있다

'[A                   ]'

In [9]:
"[%20s]" % "123" #[와 ] 사이에 20칸의 공백이 있다

'[                 123]'

In [10]:
"[%-20s]" % "123" #[와 ] 사이에 20칸의 공백이 있다

'[123                 ]'

In [13]:
x = 1/3.0 #값은 0.33333....
"%0.5f" %x #소숫점 아래 5자리까지만 인쇄한다.

'0.33333'

In [15]:
"[%-20.6f]"%x #공백 크기와 소숫점 아래 자리수 같이 지정

'[0.333333            ]'

#### format 메서드를 사용한 문자열 형식화

In [18]:
"내 이름은 {}입니다.".format("홍길동")

'내 이름은 홍길동입니다.'

In [20]:
"{2}의 {0}점수는 {1}점입니다.{1}점! {1}점!".format("수학",100,"철수")

'철수의 수학점수는 100점입니다.100점! 100점!'

In [22]:
"[{:<20}]".format("*") #전체 20칸을 차지하면서 공백을 뒤에 붙임

'[*                   ]'

In [23]:
"[{:>20}]".format("*") #전체 20칸을 차지하면서 공백을 앞에 붙임

'[                   *]'

In [24]:
"[{:20.5f}]".format(1/3) #전체 20칸을 차지하면서 소수점 아래 5자리까지 표시

'[             0.33333]'

In [26]:
"[{:20,}]".format(1234567890) #전체 20칸을 차지하면서 천단위 쉼표 표시

'[       1,234,567,890]'

#### 연습 문제 2
#### 1. a, b 두 개의 변수에 3과 12라는 값을 넣고 이 변수를 사용하여 다음과 같이 세로셈으로 곱셈 결과를 출력하는 코드를 만들어라.

#### 2. a, b 두 개의 변수에 "123456"과 "7890"라는 값을 넣고 이 변수를 사용하여 다음과 같이 세로셈으로 덧셈 결과를 출력하는 코드를 만들어라. 천의 자리 쉼표를 표시해야 한다.

In [33]:
a = 3
b = 12

print("%7d"%a)
print("%s %5d"%("x",b))
print("%s"%"-"*8)
print("%7d"%(a*b))

      3
x    12
--------
     36

In [51]:
a = 123456
b = 7890

print("{:7,}".format(a))
print("{:5,}".format(b))
print("%s"%"-"*8)
print("{:7,}".format(a+b))

123,456
7,890
--------
131,346

--------