#### 데이터프레임 고급 인덱싱

#### loc 인덱서 - 라벨 인덱서

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [3]:
df.loc["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [4]:
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [5]:
df.loc[["b", "c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [6]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [7]:
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [8]:
def select_rows(df):
    return df.A > 15

In [9]:
select_rows(df)

a    False
b    False
c     True
Name: A, dtype: bool

In [10]:
df.loc[select_rows(df)]

    A   B   C   D
c  18  19  20  21

In [11]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=["A", "B", "C", "D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [12]:
df2.loc[1:2]

    A   B   C   D
1  14  15  16  17
2  18  19  20  21

#### 인덱싱값을 행과 열 모두 받는 경우

In [13]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [14]:
df.loc["a", "A"]

10

In [15]:
df.loc["b":, "A"]

b    14
c    18
Name: A, dtype: int32

In [16]:
df.loc["a", :]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [17]:
df.loc[["a", "b"], ["B", "D"]]

    B   D
a  11  13
b  15  17

In [18]:
df.loc[df.A > 10, ["C", "D"]]

    C   D
b  16  17
c  20  21

#### iloc 인덱서 - 정수 인덱스

In [19]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [20]:
df.iloc[0,1]

11

In [21]:
df.iloc[:2, 2]

a    12
b    16
Name: C, dtype: int32

In [22]:
df.iloc[0, -2:]

C    12
D    13
Name: a, dtype: int32

In [23]:
df.iloc[2:3, 1:3]

    B   C
c  19  20

In [24]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

In [25]:
df.iloc[-1] = df.iloc[-1] * 2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42

#### 연습 문제1

In [26]:
p = pd.DataFrame(np.arange(25).reshape(5,5))

In [27]:
p

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [28]:
p.iloc[:,3:]

    3   4
0   3   4
1   8   9
2  13  14
3  18  19
4  23  24

In [29]:
p.iloc[4]

0    20
1    21
2    22
3    23
4    24
Name: 4, dtype: int32

In [30]:
p.iloc[3:5,3:5]

    3   4
3  18  19
4  23  24

In [31]:
p.iloc[3:5, [2, 4]]

    2   4
3  17  19
4  22  24

In [32]:
p.iloc[0] = p.iloc[0] +1

In [33]:
p

    0   1   2   3   4
0   1   2   3   4   5
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [34]:
p.iloc[0] < 3

0     True
1     True
2    False
3    False
4    False
Name: 0, dtype: bool

In [35]:
p.loc[p.iloc[0] < 3]

   0  1  2  3  4
0  1  2  3  4  5
1  5  6  7  8  9

#### at, iat 인덱서

In [ ]:
%timeit df.loc["a", "A"]

In [ ]:
%timeit df.at["a", "A"]

In [ ]:
%timeit df.iloc[0, 0]

In [ ]:
%timeit df.iat[0, 0]